.logobox{
  display: inline-block;
  margin: 0 auto 1.25rem auto;
  position: relative;
  left: 6.25rem;
}

.language_text_logo{
  display: inline-block;
  margin: 0 auto 1.25rem auto;
  position: relative;
  left: 6.25rem;
}

.fisatbox{
position:relative;
bottom: 1.875rem;
}

.card {

  transition: 0.3s;


  text-align: center;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.active0, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active0:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.address{
width:30%;
padding-left: 20px;
}

a{
  color:#f1f1f1;
  font-family:'Merriweather', serif;
  margin: 10px 20px;
}

.final_box{
  background-color: #777;
  color:white;
  

}

.bottom-container{
  background-color: black;
  color: white;
  text-align:center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;

}
